.theme{
  margin-top:0;
  margin-bottom:20px;
  width:100%;
}

.theme_card_img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio:8/5;
  object-position:center;
  display:block;
  margin-bottom:14px;
}

.theme_card{
  width:100%;
}
.theme_card a{
  color:#000000;
}

.theme_card_title{
  font-size:1.2rem;
  font-weight:300;
  letter-spacing:0.08rem;
  line-height:1.2;
  margin:0 0 16px;
  text-align:left;
}

.theme_card_introduction{
  font-size:0.65rem;
  font-weight:300;
  letter-spacing:0.03rem;
  line-height:1.45;
  margin:0 0 18px;
  text-align:justify;
}

.theme_card_works{
  font-size:0.65rem;
  letter-spacing:0.04rem;
  line-height:1.4;
  margin:0;
}

.theme_card_links{
  font-size:0.65rem;
  letter-spacing:0.04rem;
  line-height:1.4;
  margin:0;
}

.theme_card_works li{
  margin-bottom:4px;
}
.theme_card_links a{color:#888888;}
.theme_card_links a:hover{color:#000000;}
.theme_card_works a{color:#888888;}
.theme_card_works a:hover{color:#000000;}

@media screen and (min-width:600px){
  .theme{
    display:inline-block;
    width:32%;
    height:auto;
    float: none;
  }

  .theme_card{
    min-height:260px;
  }

  .theme_card_title{
    font-weight:300;
    font-size:1.2rem;
  }

  .theme_card_introduction{
    font-size:0.65rem;
  }
  .theme_card_links{
  font-size:0.8rem;
  letter-spacing:0.04rem;
  line-height:1.4rem;
  margin:0;
}
}
