---
import Layout from "../layouts/Layout.astro";

const images = Array.from({ length: 14 }, (_, index) => `/content/pages/codearts/img-${13 - index}.jpg`);
---

<Layout title="chang hsin-yu 張欣語 codearts">
  <div class="work_main">
    <div style="display:flex;justify-content:space-between;flex-wrap:wrap">
      {images.map((src, index) => (
        <div class="creative">
          <img style="width:100%" src={src} alt={`generative ${index + 1}`} />
        </div>
      ))}
    </div>
  </div>
  <div style="width:100%;height:50px;float:left"></div>
</Layout>
