---
import Layout from "../layouts/Layout.astro";
---

<Layout title="chang hsin-yu 張欣語 news">
  <div>
    <div class="news_content">
      <div class="news_content_language">
        <div data-lang="en">
          <span class="news_title">Current</span><br />
          <div>
            <div class="news_year">2026</div><div class="news_inf"><a href="https://pier2.org/exhibition/info/1922/" target="_blank" rel="noreferrer">還是先躺一下再說？ Lay Down</a></div><br />
            <div class="news_loc">location : 駁二當代館</div>
            <div class="news_inf"><hr /></div>
          </div>
          <br /><br /><br />
          <span class="news_title">Upcoming</span><br />
          <div>
            <div class="news_year">2026</div><div class="news_inf"></div><br />
            <div class="news_loc">location : 當代藝術館</div>
            <div class="news_inf"><hr /></div>
          </div>
        </div>
        <div data-lang="zh">
          <span class="news_title">目前展覽</span><br />
          <div>
            <div class="news_year">2026</div><div class="news_inf"><a href="https://pier2.org/exhibition/info/1922/" target="_blank" rel="noreferrer">還是先躺一下再說？ Lay Down</a></div><br />
            <div class="news_loc">地點：駁二當代館</div>
            <div class="news_inf"><hr /></div>
          </div>
          <br /><br /><br />
          <span class="news_title">即將展出</span><br />
          <div>
            <div class="news_year">2026</div><div class="news_inf"></div><br />
            <div class="news_loc">地點：當代藝術館</div>
            <div class="news_inf"><hr /></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
